webapp.b2c/pipes/QualityCheck/xsd/cinclude.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:cinclude="http://apache.org/cocoon/include/1.0">

<start>
   <element name="root">
      <element name="cinclude:include">
          <attribute name="src">
              <text />
          </attribute>

      </element>
   </element>
</start>

</grammar>
