schemas_CCR/CCRimport/PKU_CareCats_Categorization.xsd

<!--
   | XML schema for the Care Categorization msg.
   |
   | The Care Categorization msg is generated by Pikachu and imported into CCR.
   | The Care Categorization is based on the Fixed Categorization format and is locale-specific.
   | 
   | Reverse engineered from the XML-message in Pikachu.
   | BHE, 2019-01-24
   |
   -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Categorization" type="CategorizationType"/>

  <xs:complexType name="CategorizationType">
    <xs:sequence>
      <xs:element type="CatalogType" name="Catalog"/>
    </xs:sequence>
    <xs:attribute type="xs:dateTime" name="DocTimeStamp"/>
  </xs:complexType>

  <xs:complexType name="CatalogType">
    <xs:sequence>
      <xs:element type="xs:string" name="CatalogCode"/>
      <xs:element type="xs:string" name="CatalogName"/>
      <xs:element type="xs:string" name="CatalogType"/>
      <xs:element type="FixedCategorizationType" name="FixedCategorization"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Language"/>
    <xs:attribute type="xs:string" name="IsMaster"/>
  </xs:complexType>

  <xs:complexType name="SubCategoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="SubCategoryCode"/>
      <xs:element type="xs:string" name="SubCategoryReferenceName"/>
      <xs:element type="xs:string" name="SubCategoryName"/>
      <xs:element type="xs:short" name="SubCategoryRank"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="status" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CategoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="CategoryCode"/>
      <xs:element type="xs:string" name="CategoryReferenceName"/>
      <xs:element type="xs:string" name="CategoryName"/>
      <xs:element type="xs:short" name="CategoryRank"/>
      <xs:element type="SubCategoryType" name="SubCategory" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupType">
    <xs:sequence>
      <xs:element type="xs:string" name="GroupCode"/>
      <xs:element type="xs:string" name="GroupReferenceName"/>
      <xs:element type="xs:string" name="GroupName"/>
      <xs:element type="xs:byte" name="GroupRank"/>
      <xs:element type="CategoryType" name="Category" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FixedCategorizationType">
    <xs:sequence>
      <xs:element type="GroupType" name="Group" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>