schemas_Pikachu/xUCDM_product_external_CQ5_1_1_31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  version 1.1.1: FS 2012-11-30 
        - For CQ5.
  version 1.1.2: FS 2013-01-09
        - Changed CTNType to accept dots.
  version 1.1.3: FS 2013-06-07
        - Removed Catalog, Categorization and ReviewStatistics elements.
  version 1.1.4: FS 2013-06-28
        - Added version attribute to Asset element.
  version 1.1.5: FS 2013-07-01
        - Restored ReviewStatistics element.
        - Added ProductReferenceTypes for Healthcare.
  version 1.1.6: FS 2013-07-04
        - Restored ReviewStatisticsType definition.
  version 1.1.7: FS 2013-07-05
        - Refactored GreenData awards for more flexibility.
  version 1.1.8: FS 2013-07-12
        - Added RichText item types: FAQ, SCP, GDA, GSP, FAM.
  version 1.1.9: FS 2013-07-31
        - Added IsHidden on Product element.
        - Added additional Asset attributes.
  version 1.1.10: FS 2013-08-27
        - Changed Asset locale type to xs:string
  version 1.1.11: FS 2013-08-29
        - FormerPDCode optional (for PCT)
  version 1.1.12: FS 2013-09-02
        - Added RichText type SFQ (for PCT)
  version 1.1.13: FS 2013-09-02
        - Made RichText types more lenient (for PCT)
  version 1.1.14: FS 2013-10-02
        - Added attribute 'UserGroup' to Product attribute
  version 1.1.15: FS 2013-11-03
        - Added RichText type 'Functionality'
  version 1.1.16: FS 2013-11-07
        - Added ProductTypes 'Special' and 'App'.
        - Added CSItemDescription
  version 1.1.17 CJ 2013-12-12
        - Updated doctype of Asset's attribute extend - positiveInteger to nonNegativeInteger
        - Added VersionElement4
        - Removed unwanted space from restriction pattern of 'type' on element 'RichText' 
  version 1.1.18: FS 2014-04-01 - Merged B2B LI schema
        - typed DTN element as xs:string
        - Subtitle element in RichText item
        - Added GreenText value in Richtext restricted type attribute        
  version 1.1.19: FS 2014-05-14
        - Added 'Coils' as a product reference type
  version 1.1.20: FS 2014-06-02
        - Changed 'Coils' product reference type to 'CRP'
  version 1.1.21: FS 2014-07-10
        - Added lang attribute to Asset element.
          Purpose is to easily filter on language when displaying assets.
          In CCR mapping the language to a single locale is cumbersome.
  version 1.1.22: FS 2014-11-11
        - Added new Product reference types for Mobile Apps: AppOptional, AppRequired, AppProductOf.
  version 1.1.23: FS 2014-12-10
        - Added lowercase letters to clusterCodeType and identifierType.
  version 1.1.24: FS 2015-01-12
        - Added Product type 'Supply'.
        - Added codeHIBC element
        - Added AdditionalCodes element
  version 1.1.25: FS 2015-01-20
        - Added 'lang' attribute to RichText Item elements.
  version 1.1.26: FS 2015-06-25
        - Added schema type to DisclaimerText, VersionElementCode, AccessoryByPackedRank.
        - Added checksum attribute to asset.
  version 1.1.27: FS 2015-07-01
        - Added disclaimerCodeType to accomodate longer disclaimer codes from STEP
  version 1.1.28: FS 2015-07-06
        - Extended CSValueCode to max. 50 chars.
        - Set type of FeatureTopRank to nonNegativeInteger.
  version 1.1.29: FS 2015-08-17
        - Extended DescriptorCode to max. 30 chars.
  version 1.1.30: FS 2015-08-24
        - Added VersionElement5
  version 1.1.31: FS 2016-07-15
        - Added checksum attribute to asset.
        - Added ProductReferenceType successor.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1.31">
  <xs:element name="Products">
    <xs:annotation>
      <xs:documentation>XML Unified Catalog Data Model - Product Marketing Schema for Preliminary or Final published
        marketing content.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Product that is marketed.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CTN" type="CTNType">
                <xs:annotation>
                  <xs:documentation>The Commercial Type Number of an actual existing product (prod.id)
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Code12NC" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>12NC of the product without formatting spaces.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="12"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="GTIN" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>GTIN of the product without formatting spaces. Synonyms: EAN, UPC</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="14"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CodeHIBC" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>HIBC code of the product</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="25"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AdditionalCodes" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Semicolon separated list of additional codes of the product</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ProductType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Normal"/>
                    <xs:enumeration value="Chassis"/>
                    <xs:enumeration value="CRP"/>
                    <xs:enumeration value="Key"/>
                    <xs:enumeration value="MCI"/>
                    <xs:enumeration value="Accessory"/>
                    <xs:enumeration value="Supply"/>
                    <xs:enumeration value="Special"/>
                    <xs:enumeration value="App"/>
                    <xs:enumeration value="Configurable"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MarketingVersion" type="xs:string" minOccurs="0"/>
              <xs:element name="MarketingStatus">
                <xs:annotation>
                  <xs:documentation>Schema is for Prliminary or Final published marketing content.
                    Registered with SAP should also be removed. Currently (Feb 2008) this schema is also used to get (master) data for
                    products in this status into CMC. That is to be solved first (with a separate master data schema).
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="New"/>
                    <xs:enumeration value="Registered with SAP"/>
                    <xs:enumeration value="Preliminary Published"/>
                    <xs:enumeration value="Final Published"/>
                    <xs:enumeration value="Deleted"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="LifecycleStatus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Status of product as content (shown to customers)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Planned"/>
                    <xs:enumeration value="Active"/>
                    <xs:enumeration value="PhasedOut"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CRDate" type="xs:date" minOccurs="0"/>
              <xs:element name="CRDateYW" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Commercial Release date of product. Format YYYYWW.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{6}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ModelYears">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ModelYear">
                      <xs:simpleType>
                        <xs:restriction base="xs:positiveInteger">
                          <xs:minInclusive value="1990"/>
                          <xs:totalDigits value="4"/>
                          <xs:maxExclusive value="2100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductDivision" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProductDivisionCode">
                      <xs:annotation>
                        <xs:documentation>0200 = CL</xs:documentation>
                        <xs:documentation>0100 = Lighting</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{4}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ProductDivisionName">
                      <xs:annotation>
                        <xs:documentation>E.g. Consumer Lifestyle</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="FormerPDCode" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>0300 = DAP</xs:documentation>
                        <xs:documentation>3400 = CE</xs:documentation>
                        <xs:documentation>0100 = Lighting</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d{4}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductOwner" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>The organisational owner of the product, actually displayed on the leaflet
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="DTN" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>The display type number. Note: this is just for display purposes, it is not used
                    anywhere else (not in search engines, ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Assets">
                <xs:annotation>
                  <xs:documentation>This block can be used to add asset referrals to a standard product marketing XML.
                    The metadata is limited to the bare necessities. The most logical addition would be a version and a
                    date. If more is needed, please think about the alternatives, add the meta data in the referred
                    document or create a seperate document based on the asset list. The code can be used to store the
                    product/feature/etc code. It is preferred to replace a / or '-' by a '_'. The type can be used to
                    store the CCR doctype. The locale can be used to store a language or a locale, if the document is
                    not localized. it should be set to 'global'. A number can be used to store one or more from the same
                    doctype. The extension can be used to store the file extension</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Asset">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:anyURI">
                            <xs:attribute name="code" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation>Object key</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="type" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation>DocType in CCR</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="locale" type="xs:string" use="required"/>
                            <xs:attribute name="lang" use="optional">
                              <xs:annotation>
                                <xs:documentation>Three letter language code. Purpose is to easily filter on language when displaying assets.</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:pattern value="[a-zA-Z]{3}"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="number" type="xs:string"/>
                            <xs:attribute name="description" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation>Functional description of asset.</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="extension" type="xs:string" use="optional">
                              <xs:annotation>
                                <xs:documentation>File extension of asset. Example: 'pdf'</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="lastModified" type="xs:date" use="required"/>
                            <xs:attribute name="extent" type="xs:nonNegativeInteger">
                              <xs:annotation>
                                <xs:documentation>Size in bytes</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="caption" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Object specific caption for this asset</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="version" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Version of this asset (e.g. software version)</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="docClass" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Document class that groups doc types</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="secure" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Comma-separated list of secure cookies required to download the asset</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="eula" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Points to a EULA doc type that is required to be accepted before downloading the asset</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="belongsTo" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Points to a doc type that this asset belongs to</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="checksum" type="xs:integer"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductName" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>For products without Naming String this is the actual product name, for products
                    with Naming String this is the Short Naming String.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FullProductName" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>This is a representation of the full product name for external parties that should
                    not have knowledge of the composition rules of the full naming string</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="NamingString" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>The new display name of the product</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MasterBrand" type="BrandType"/>
                    <xs:element name="Partner" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Note: Partner has nothing to do with PartnerLogo!</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PartnerBrand">
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="BrandType"/>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PartnerBrandType">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                                <xs:enumeration value="JointBranding">
                                  <xs:annotation>
                                    <xs:documentation source="Philips Design 2007-04">E.g. Philips and Swarovski
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="MakersMark">
                                  <xs:annotation>
                                    <xs:documentation source="Philips Design 2007-04">E.g. Philips Norelco</xs:documentation>
                                  </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="SignatureBranding">
                                  <xs:annotation>
                                    <xs:documentation source="Philips Design 2007-04">E.g. Philips Alessi</xs:documentation>
                                  </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="EndorsementBranding"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PartnerProductName" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Known issue: In case of multiple partners with a PartnerProductName, the
                                order is implicit by the order of the Partners in the XML.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="PartnerProductIdentifier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BrandString" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Concatenation of brand names. E.g. "Philips", "Philps Norelco", "Philips and
                          Swarovski", "Philips Norelco and Nivea". Note: should become mandatory after initial
                          migration.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="BrandString2" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Second Brandstring to support"Philips [other naming string elements] by
                          Avent".</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Concept" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ConceptCode" type="identifierType"/>
                          <xs:element name="ConceptName" type="xs:string"/>
                          <xs:element name="ConceptNameUsed" type="xs:byte" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Flag (=1) if product is badged with the name of this Concept. Unflagged
                                products are in the selection for this Concept and may share styling but not the badge
                                with other products of the Concept.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Family" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FamilyCode" type="identifierType"/>
                          <xs:element name="FamilyName" type="xs:string"/>
                          <xs:element name="FamilyNameUsed" type="xs:byte" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Flag (=1) if product is badged with the name of this Family.
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Range" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RangeCode">
                            <xs:simpleType>
                              <xs:restriction base="identifierType">
                                <xs:maxLength value="10"/>
                                <xs:minLength value="10"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="RangeName" type="xs:string"/>
                          <xs:element name="RangeNameUsed" type="xs:byte" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Flag (=1) if product is badged with the name of this Range
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Descriptor" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DescriptorCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="30"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="DescriptorName" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Alphanumeric" type="xs:string" minOccurs="0"/>
                    <xs:element name="VersionElement1" type="VersionElementType" minOccurs="0"/>
                    <xs:element name="VersionElement2" type="VersionElementType" minOccurs="0"/>
                    <xs:element name="VersionElement3" type="VersionElementType" minOccurs="0"/>
                    <xs:element name="VersionElement4" type="VersionElementType" minOccurs="0"/>
                    <xs:element name="VersionElement5" type="VersionElementType" minOccurs="0"/>
                    <xs:element name="VersionString" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Version element including spaces</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="BrandedFeatureCode1" type="FeatureCodeType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>The feature code of the first branded feature</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="BrandedFeatureCode2" type="FeatureCodeType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>The feature code of the second branded feature</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="BrandedFeatureString" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>This is the string representing the branded features including 'with' and
                          'and'.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DescriptorBrandedFeatureString" minOccurs="0"/>
                    <xs:element name="MasterSEOProductName" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>This product name is the basis for the composition of the English SEO name
                          (Search Engine Optimization)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ShortDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Deprecated</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="LongDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>E.g. for tender texts</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="WOW" type="xs:string" minOccurs="0"/>
              <xs:element name="SubWOW" type="xs:string" minOccurs="0"/>
              <xs:element name="MarketingTextHeader" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Should be MarketingText</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="KeyBenefitArea" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The KBA and Features of the CTN.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KeyBenefitAreaCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="KeyBenefitAreaName" type="xs:string"/>
                    <xs:element name="KeyBenefitAreaRank" type="xs:integer"/>
                    <xs:element name="Feature" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FeatureCode" type="FeatureCodeType"/>
                          <xs:element name="FeatureReferenceName" type="ReferenceNameType"/>
                          <xs:element name="FeatureName" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Displayname of feature</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="FeatureShortDescription" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureLongDescription" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureGlossary" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureWhy" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureWhat" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureHow" type="xs:string" minOccurs="0"/>
                          <xs:element name="FeatureRank" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation>The rank of the feature within the KBA</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="FeatureTopRank" type="xs:nonNegativeInteger">
                            <xs:annotation>
                              <xs:documentation>The rank of the feature within the product</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SystemLogo" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>System (industry standard) logos are used to identify a specific technology/standard
                    (e.g. USB, DVD Video).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SystemLogoCode">
                      <xs:simpleType>
                        <xs:restriction base="identifierType">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SystemLogoName" type="xs:string"/>
                    <xs:element name="SystemLogoRank" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PartnerLogo" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Logo of the Partner with whom the CTN is developed or service (e.g. MP3, Internet
                    Radio) is provided</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PartnerLogoCode">
                      <xs:simpleType>
                        <xs:restriction base="identifierType">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PartnerLogoName" type="xs:string"/>
                    <xs:element name="PartnerLogoRank" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FeatureLogo" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Logo of a feature; difference between image and logo is the size of the picture
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FeatureCode" type="FeatureCodeType"/>
                    <xs:element name="FeatureReferenceName" type="ReferenceNameType"/>
                    <xs:element name="FeatureLogoRank" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FeatureImage" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Image of a feature</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FeatureCode" type="FeatureCodeType"/>
                    <xs:element name="FeatureReferenceName" type="ReferenceNameType"/>
                    <xs:element name="ProductSpecific" type="xs:boolean" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>If True, the FeatureCode is to be extended with the CTN to get the right image
                          from CCR.
                          Currently (2008-02-26) the product specific feature codes are used as feature codes. PFS will soon implement as
                          modelled here.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="FeatureImageRank" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FeatureHighlight" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>A feature that is FeatureHighlight (ProductHighlight?) must be in the set of
                    KBA-Feature.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FeatureCode" type="FeatureCodeType"/>
                    <xs:element name="FeatureReferenceName" type="ReferenceNameType"/>
                    <xs:element name="FeatureHighlightRank"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CSChapter" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The specifications (name - value and optional UoM) of the CTN.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CSChapterCode" type="identifierType"/>
                    <xs:element name="CSChapterName" type="xs:string"/>
                    <xs:element name="CSChapterRank" type="xs:integer"/>
                    <xs:element name="CSItem" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CSItemCode" type="identifierType"/>
                          <xs:element name="CSItemName" type="xs:string"/>
                          <xs:element name="CSItemRank" type="xs:integer"/>
                          <xs:element name="CSItemDescription" type="xs:string" minOccurs="0"/>
                          <xs:element name="CSItemIsFreeFormat" type="xs:byte">
                            <xs:annotation>
                              <xs:documentation>Must be set to 1 if Item is FreeFormat.
                                FreeFormat indicates that the values are product specific. These values cannot be normalized per CSValueCode.
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CSValue" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CSValueCode">
                                  <xs:annotation>
                                    <xs:documentation>Code is also required for free - formats</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="50"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="CSValueName" type="xs:string"/>
                                <xs:element name="CSValueDisplayName" type="xs:string" minOccurs="0"/>
                                <xs:element name="CSValueRank" type="xs:integer"/>
                                <xs:element name="CSValueDescription" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="UnitOfMeasure" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="UnitOfMeasureCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="UnitOfMeasureName" type="xs:string"/>
                                <xs:element name="UnitOfMeasureSymbol" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Filters">
                <xs:annotation>
                  <xs:documentation>Can be used to filter the set of Features and CSItems.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Purpose">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Features">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="Feature">
                                  <xs:complexType>
                                    <xs:attribute name="code" type="FeatureCodeType" use="required"/>
                                    <xs:attribute name="referenceName" type="ReferenceNameType">
                                      <xs:annotation>
                                        <xs:documentation>ReferenceName is for human reference only.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="rank" type="xs:integer">
                                      <xs:annotation>
                                        <xs:documentation>The rank of this feature for this purpose. If ommitted, the
                                          FeatureTopRank is to be used as default.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CSItems">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="CSItem">
                                  <xs:complexType>
                                    <xs:attribute name="code" type="codeType" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Add constraints for existing in AllCommSpecs
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="referenceName" type="ReferenceNameType">
                                      <xs:annotation>
                                        <xs:documentation>ReferenceName is for human reference only. Fill with
                                          Chapter.Name - Item.Name</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="rank" type="xs:integer">
                                      <xs:annotation>
                                        <xs:documentation>The rank of this CSItem for this purpose. If ommitted, the
                                          rank in CSChapter/CSItem is to be used as default.

                                          NOTE 2008-02-25: HOW IS THIS TO WORK IN COMBINATION WITH THE GROUPING IN CHAPTERS!??</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Detail"/>
                              <xs:enumeration value="Comparison"/>
                              <xs:enumeration value="Discriminators"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FeatureCompareGroups">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="FeatureCompareGroup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DisplayName" type="xs:string"/>
                          <xs:element name="Glossary" type="xs:string"/>
                          <xs:element name="Features">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="Feature">
                                  <xs:complexType>
                                    <xs:attribute name="code" type="FeatureCodeType" use="required"/>
                                    <xs:attribute name="referenceName" type="ReferenceNameType">
                                      <xs:annotation>
                                        <xs:documentation>ReferenceName is for human reference only.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="code" type="codeType" use="required"/>
                        <xs:attribute name="referenceName" type="ReferenceNameType" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Disclaimers">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Disclaimer">
                      <xs:annotation>
                        <xs:documentation>Disclaimers are referenced from features, WOW, SubWow, CSItem and other
                          elements by means of a * in the text. There is no linking on datamodel level
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DisclaimerText" type="xs:string"/>
                          <xs:element name="DisclaimerGroup" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Group this disclaimer belongs to.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="code" type="xs:string" use="optional"/>
                              <xs:attribute name="referenceName" type="ReferenceNameType" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DisclaimElements">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="DisclaimElementXPath" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>XPath to element this disclaimer refers to.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="code" type="disclaimerCodeType" use="required"/>
                        <xs:attribute name="referenceName" type="ReferenceNameType" use="required"/>
                        <xs:attribute name="rank" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="KeyValuePairs">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="KeyValuePair">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Key" type="xs:string"/>
                          <xs:element name="Value" type="xs:string"/>
                          <xs:element name="Type" type="xs:string"/>
                          <xs:element name="UnitOfMeasure" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
              <xs:element name="AccessoryByPacked" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>A separate product included in the packaging of the CTN, providing additional user
                    benefits and product functionality</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccessoryByPackedCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AccessoryByPackedReference" type="ReferenceNameType" minOccurs="0"/>
                    <xs:element name="AccessoryByPackedName" type="xs:string"/>
                    <xs:element name="AccessoryByPackedRank" type="xs:nonNegativeInteger"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Award" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Optional award for this product.
                    Also supporting What The Press Says.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AwardCode">
                      <xs:simpleType>
                        <xs:restriction base="codeType">
                          <xs:maxLength value="20"/>
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AwardName" type="xs:string" minOccurs="0"/>
                    <xs:element name="AwardDate" type="xs:string" minOccurs="0"/>
                    <xs:element name="AwardPlace" minOccurs="0"/>
                    <xs:element name="Title" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Magazine that published the award</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Issue" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Issue of magazine where the award was published.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Rating" type="xs:float" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Rating given with the award.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Trend" type="xs:integer" minOccurs="0"/>
                    <xs:element name="AwardAuthor" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TestPros" type="xs:string" minOccurs="0"/>
                    <xs:element name="TestCons" type="xs:string" minOccurs="0"/>
                    <xs:element name="AwardDescription" type="xs:string"/>
                    <xs:element name="AwardAcknowledgement" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Quote</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AwardVerdict" type="xs:string" minOccurs="0"/>
                    <xs:element name="AwardText" type="xs:string" minOccurs="0"/>
                    <xs:element name="Locales" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Locales where this Award is relevant</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="Locale" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AwardRank" type="xs:integer"/>
                    <xs:element name="AwardSourceCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="codeType">
                          <xs:minLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AwardVideo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Length" type="xs:decimal"/>
                          <xs:element name="Width" type="xs:decimal"/>
                          <xs:element name="Height" type="xs:decimal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AwardCategory" type="xs:string" minOccurs="0"/>
                    <xs:element name="AwardSourceLocale" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute name="AwardType" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="local"/>
                        <xs:enumeration value="global"/>
                        <xs:enumeration value="global_highlight"/>
                        <xs:enumeration value="ala_summary"/>
                        <xs:enumeration value="ala_award"/>
                        <xs:enumeration value="ala_expert"/>
                        <xs:enumeration value="ala_user"/>
                        <xs:enumeration value="ala_video"/>
                        <xs:enumeration value="ala_bv_summary"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="status">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Draft"/>
                        <xs:enumeration value="Preliminary Published"/>
                        <xs:enumeration value="Final Published"/>
                        <xs:enumeration value="Deleted"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="endOfPublication" type="xs:date"/>
                  <xs:attribute name="isPaid" type="xs:boolean"/>
                  <xs:attribute name="awardAlid" type="xs:string"/>
                  <xs:attribute name="globalSource" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductClusters">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ProductCluster">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Localized</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="concept"/>
                              <xs:enumeration value="family"/>
                              <xs:enumeration value="perfectmatch"/>
                              <xs:enumeration value="variation"/>
                              <xs:enumeration value="range"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="code" type="clusterCodeType" use="required"/>
                        <xs:attribute name="referenceName" type="ReferenceNameType"/>
                        <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductRefs">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ProductReference">
                      <xs:annotation>
                        <xs:documentation>Related products, e.g. related accessories - optimized format.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="CTN">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="CTNType">
                                  <xs:attribute name="rank" type="xs:integer"/>
                                  <xs:attribute name="group" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Grouping of CTN's</xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                  <xs:attribute name="groupRank" type="xs:integer"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ProductReferenceType" type="ProductReferenceType" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SellingUpFeature" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>DEPRECATED: Must refer to a feature that is in the KBA-Feature combinations.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FeatureCode" type="FeatureCodeType"/>
                    <xs:element name="FeatureReferenceName" type="ReferenceNameType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ConsumerSegment" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>DEPRECATED</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConsumerSegmentCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="10"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ConsumerSegmentName">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RichTexts">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="RichText">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="Chapter" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name"/>
                              </xs:sequence>
                              <xs:attribute name="code" type="codeType" use="required"/>
                              <xs:attribute name="referenceName" type="ReferenceNameType" use="required"/>
                              <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Item" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Head" type="xs:string" minOccurs="0"/>
                                <xs:element name="Subtitle" type="xs:string" minOccurs="0"/>
                                <xs:element name="Body" type="xs:string" minOccurs="0"/>
                                <xs:element name="BulletList" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                      <xs:element name="BulletItem">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Text" type="xs:string"/>
                                            <xs:element name="SubList" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                  <xs:element name="SubItem">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Text" type="xs:string"/>
                                                      </xs:sequence>
                                                      <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="code">
                                <xs:annotation>
                                  <xs:documentation>Asset for this item is to be retrieved from CCR using the
                                    RTB@code@docType</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="codeType">
                                    <xs:minLength value="2"/>
                                    <xs:pattern value="[0-9A-Z][0-9A-Z_\-/ ]*[0-9A-Z]"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="referenceName" type="ReferenceNameType">
                                <xs:annotation>
                                  <xs:documentation>Name to be displayed in CCR</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                              <xs:attribute name="docType" type="xs:string">
                                <xs:annotation>
                                  <xs:documentation>The docType to which this AssetCaption belongs. Note: only possible
                                    for product keyed images. Support for additional objects requires ObjType and
                                    ObjKey.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="lang" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Three letter language code. Used for FAQ's.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="[a-zA-Z]{3}"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="LearnMore|Q&amp;A|Testimonial|ProofPoint|ProductDescription|MarketingDownload|Gifting|AssetCaption|GreenText|TextTable|FeatureText|ApplicationText|DimensionDiagramTable|PhotometricProduct|LegalTextEU|3DDrawing|WarningText|Functionality|BackgroundInfo|[A-Z]{3}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GreenData" type="GreenDataType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="IsMaster" type="xs:boolean" use="optional"/>
            <xs:attribute name="IsAccessory" type="xs:boolean" use="optional"/>
            <xs:attribute name="lastModified" type="xs:dateTime" use="optional"/>
            <xs:attribute name="masterLastModified" type="xs:dateTime" use="optional">
              <xs:annotation>
                <xs:documentation>Last modification timestamp in source application</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Country" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="([A-Z]{2})|global|GLOBAL"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Locale" use="optional">
              <xs:annotation>
                <xs:documentation>Locale (2-char or 5-char). For example en or en_US</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="([a-z]{2}_[A-Z]{2})|master_global|master_GLOBAL"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="IsLocalized" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Flag that indicates local source content that deviates from master source content
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsHidden" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Prevent the product from showing up in normal navigation.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UserGroup" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>Authorization group from PFS to distinguish different brand licensees
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
          <xs:key name="FeatureCodeKey">
            <xs:selector xpath="KeyBenefitArea/Feature"/>
            <xs:field xpath="FeatureCode"/>
          </xs:key>
          <xs:keyref name="GroupFeatureCodeKeyRef" refer="FeatureCodeKey">
            <xs:selector xpath="FeatureCompareGroups/FeatureCompareGroup/Features/Feature"/>
            <xs:field xpath="@code"/>
          </xs:keyref>
          <xs:key name="CSItemCodeKey">
            <xs:selector xpath="CSChapter/CSItem"/>
            <xs:field xpath="CSItemCode"/>
          </xs:key>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DocTimeStamp" type="xs:dateTime" use="required"/>
      <xs:attribute name="DocStatus" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="draft"/>
            <xs:enumeration value="approved"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DocType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="PMT"/>
            <xs:enumeration value="PCT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DocVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation>The filename of the XSD schma, e.g. xUCDM_product_external_1_2.xsd</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CTNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z][0-9A-Z_\-/.]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BrandType">
    <xs:sequence>
      <xs:element name="BrandCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BrandName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReferenceNameType">
    <xs:annotation>
      <xs:documentation>Unique identification of object for human reference in internal systems. NOT TO BE DISPLAYED TO
        CONSUMERS. ReferenceName can be changed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VersionElementType">
    <xs:sequence>
      <xs:element name="VersionElementCode" type="codeType"/>
      <xs:element name="VersionElementName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FeatureCodeType">
    <xs:annotation>
      <xs:documentation>Unique identification of the feature for system reference. Cannot be changed over the lifecycle
        of the feature.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="codeType"/>
  </xs:simpleType>
  <xs:simpleType name="codeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="identifierType">
    <xs:restriction base="codeType">
      <xs:pattern value="[0-9A-Za-z_\-/]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="clusterCodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
      <xs:pattern value="[0-9A-Za-z_\-/]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="disclaimerCodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
      <xs:pattern value="[0-9A-Za-z_\-/]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriceType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]+(\.[0-9]{1,2})?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProductReferenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accessory"/>
      <xs:enumeration value="Successor"/>
      <xs:enumeration value="Performer"/>
      <xs:enumeration value="Variation"/>
      <xs:enumeration value="CrossSell"/>
      <xs:enumeration value="Upsell"/>
      <xs:enumeration value="Chassis"/>
      <xs:enumeration value="ChassisOf"/>
      <xs:enumeration value="RefurbishedOf"/>
      <xs:enumeration value="Contains"/>
      <xs:enumeration value="Compulsory"/>
      <xs:enumeration value="Optional"/>
      <xs:enumeration value="Replacement"/>
      <xs:enumeration value="Upgrade"/>
      <xs:enumeration value="CRP"/>
      <xs:enumeration value="AppRequired"/>
      <xs:enumeration value="AppOptional"/>
      <xs:enumeration value="AppProductOf"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReviewStatisticsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ReviewStatistics">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AverageOverallRating" type="xs:string"/>
            <xs:element name="OverallRatingRange" type="xs:integer"/>
            <xs:element name="TotalReviewCount" type="xs:integer"/>
            <xs:element name="RatingsOnlyReviewCount" type="xs:integer"/>
            <xs:element name="RecommendedCount" type="xs:integer"/>
            <xs:element name="AverageRatingValues" type="xs:string"/>
            <xs:element name="RatingDistribution" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RatingDistributionItem" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="RatingValue" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Count" type="xs:integer" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="source" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GreenDataType">
    <xs:sequence>
      <xs:element name="GreenAwards">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="GreenAward" type="GreenAwardType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EnergyLabel" type="EnergyLabelType"/>
      <xs:element name="GreenChapter" minOccurs="0" maxOccurs="6">
        <xs:annotation>
          <xs:documentation>
            Each GreenChapter represents a Focal area.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GreenChapterCode" type="identifierType"/>
            <xs:element name="GreenChapterName" type="xs:string"/>
            <xs:element name="GreenItem" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="GreenItemCode" type="identifierType" minOccurs="0"/>
                  <xs:element name="GreenItemName" type="xs:string"/>
                  <xs:element name="GreenItemRank" type="xs:integer"/>
                  <xs:element name="GreenValue" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="GreenValueCode" type="identifierType" minOccurs="0"/>
                        <xs:element name="GreenValueName" type="xs:string"/>
                        <xs:element name="GreenValueRank" type="xs:integer"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="UnitOfMeasure" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="UnitOfMeasureCode" type="identifierType" minOccurs="0"/>
                        <xs:element name="UnitOfMeasureName" type="xs:string"/>
                        <xs:element name="UnitOfMeasureSymbol" type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GreenAwardType">
    <xs:attribute name="code" type="codeType"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="EnergyLabelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="ShortDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="LongDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
      <xs:element name="EnergyClass" type="EnergyClassType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnergyClassType">
    <xs:sequence>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Countrycode" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="rank" type="xs:positiveInteger" use="required"/>
  </xs:complexType>
</xs:schema>
