schemas_Pikachu/xUCDM_rendering_product_1_3b2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by bhe (PH CONSUMER ELECTRONICS BV) -->
<!--  
  History:
  
  2011-08-25  FS  Green 2 project
    - Added AwardText element to Award element.
    - Removed ProductReferenceType enumeration values: isAccessoryOf, hasAccessory and hasPredecessor
    - Removed Predecessor element
    - Removed SellingUpFeature element
    - Removed ConsumerSegment element
    - Removed MIP_Classification element
    - Removed Greenogo element
    - Added EnergyClass element
-->
<?SDL version="4.2.10"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xs:element name="Products">
		<xs:annotation>
			<xs:documentation>XML Unified Catalog Data Model - set of Products</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Product">
					<xs:annotation>
						<xs:documentation>A result of labour or of a natural or industrial process</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ProductType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="DocumentDataType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RenderProducts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Batch">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BatchDate" type="xs:dateTime"/>
							<xs:element name="BatchType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Full"/>
										<xs:enumeration value="Delta"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PartNumber" type="xs:integer"/>
							<xs:element name="NumberOfPartsInBatch" type="xs:integer" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RenderProduct" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ProductType">
								<xs:sequence>
									<xs:element name="EOSDate" type="xs:date" minOccurs="0">
										<xs:annotation>
											<xs:documentation>For MasterProduct the global EOS must be used (=max over all locale EOS).
Is omitted on a MasterProduct if no local EOS is available. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Categorization">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="GroupCode" type="xs:string"/>
												<xs:element name="GroupName" type="xs:string"/>
												<xs:element name="CategoryCode" type="xs:string"/>
												<xs:element name="CategoryName" type="xs:string"/>
												<xs:element name="SubCategoryCode" type="xs:string"/>
												<xs:element name="SubCategoryName" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="DocumentDataType"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ProductType">
		<xs:sequence>
			<xs:element name="CTN" type="CTNType">
				<xs:annotation>
					<xs:documentation>The Commercial Type Number of an actual existing product (prod.id)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketingVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="MarketingStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="New"/>
						<xs:enumeration value="Registered with SAP"/>
						<xs:enumeration value="Preliminary Published"/>
						<xs:enumeration value="Final Published"/>
						<xs:enumeration value="Deleted"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CRDate" type="xs:date" minOccurs="0"/>
			<xs:element name="CRDateYW" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Commercial Release date of product. Format YYYYWW.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductDivision">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductDivisionCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ProductDivisionName">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductOwner" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organisational owner of the product, actually displayed on the leaflet</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code12NC" minOccurs="0">
				<xs:annotation>
					<xs:documentation>12NC of the product without formatting spaces.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GTIN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>GTIN of the product without formatting spaces. Synonyms: EAN, UPC</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DTN">
				<xs:annotation>
					<xs:documentation>The display type number. Note: this is just for display purposes, it is not used anywhere else (not in search engines, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductName">
				<xs:annotation>
					<xs:documentation>For products with Naming String this is the Short Naming String.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NamingString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The new display name of the product</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MasterBrand" type="BrandType"/>
						<xs:element name="Partner" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Note: Partner has nothing to do with PartnerLogo!</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PartnerBrand">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="BrandType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="PartnerBrandType">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
												<xs:enumeration value="JointBranding">
													<xs:annotation>
														<xs:documentation source="Philips Design 2007-04">E.g. Philips and Swarovski</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="MakersMark">
													<xs:annotation>
														<xs:documentation source="Philips Design 2007-04">E.g. Philips Norelco</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="SignatureBranding">
													<xs:annotation>
														<xs:documentation source="Philips Design 2007-04">E.g. Philips Alessi</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="EndorsementBranding"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PartnerProductName" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="PartnerProductIdentifier" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="BrandString" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Concatenation of brand names. E.g. "Philips", "Philps Norelco", "Philips and Swarovski", "Philips Norelco and Nivea". Note: should become mandatory after initial migration.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BrandString2" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Second Brandstring to support"Philips [other naming string elements] by Avent".</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Concept" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ConceptCode">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ConceptName" type="xs:string"/>
									<xs:element name="ConceptNameUsed" type="xs:byte" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Flag (=1) if product is badged with the name of this Concept. Unflagged products are in the selection for this Concept and may share styling but not the badge with other products of the Concept.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Family" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FamilyCode">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="FamilyName" type="xs:string"/>
									<xs:element name="FamilyNameUsed" type="xs:byte" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Flag (=1) if product is badged with the name of this Family.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Range" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RangeCode">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="RangeName" type="xs:string"/>
									<xs:element name="RangeNameUsed" type="xs:byte" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Flag (=1) if product is badged with the name of this Range</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Descriptor" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DescriptorCode">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DescriptorName" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Alphanumeric" type="xs:string" minOccurs="0"/>
						<xs:element name="VersionElement1" type="VersionElementType" minOccurs="0"/>
						<xs:element name="VersionElement2" type="VersionElementType" minOccurs="0"/>
						<xs:element name="VersionElement3" type="VersionElementType" minOccurs="0"/>
						<xs:element name="VersionString" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Version element including spaces</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BrandedFeatureCode1" type="FeatureCodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The feature code of the first branded feature</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BrandedFeatureCode2" type="FeatureCodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The feature code of the second branded feature</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BrandedFeatureString" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the string representing the branded features including 'with' and 'and'.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DescriptorBrandedFeatureString" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ShortDescription" minOccurs="0"/>
			<xs:element name="WOW" type="xs:string" minOccurs="0"/>
			<xs:element name="SubWOW" type="xs:string" minOccurs="0"/>
			<xs:element name="MarketingTextHeader" type="xs:string" minOccurs="0"/>
			<xs:element name="SupraFeature" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Is a grouping of CTN based on their special features (e.g. Connected Planet).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupraFeatureCode" type="FeatureCodeType"/>
						<xs:element name="SupraFeatureName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KeyBenefitArea" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The KBA and Features is the CTN.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KeyBenefitAreaCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="KeyBenefitAreaName" type="xs:string"/>
						<xs:element name="KeyBenefitAreaRank" type="xs:integer"/>
						<xs:element name="Feature" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FeatureCode" type="FeatureCodeType"/>
									<xs:element name="FeatureReferenceName" type="ReferenceNameType" minOccurs="0"/>
									<xs:element name="FeatureName" type="xs:string">
										<xs:annotation>
											<xs:documentation>Displayname of feature</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FeatureShortDescription" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureLongDescription" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureGlossary" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureWhy" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureWhat" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureHow" type="xs:string" minOccurs="0"/>
									<xs:element name="FeatureRank" type="xs:integer">
										<xs:annotation>
											<xs:documentation>The rank of the feature within the KBA</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="FeatureTopRank">
										<xs:annotation>
											<xs:documentation>The rank of the feature within th product</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CSChapter" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The specifications (name - value and optional UoM) of the CTN.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CSChapterCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CSChapterName" type="xs:string"/>
						<xs:element name="CSChapterRank" type="xs:integer"/>
						<xs:element name="CSItem" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CSItemCode">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CSItemName" type="xs:string"/>
									<xs:element name="CSItemRank" type="xs:integer"/>
									<xs:element name="CSItemIsFreeFormat" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Must be set to 1 if Item is FreeFormat</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CSValue" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CSValueCode">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="30"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CSValueName" type="xs:string"/>
												<xs:element name="CSValueRank" type="xs:integer"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="UnitOfMeasure" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="UnitOfMeasureCode">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="30"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="UnitOfMeasureName" type="xs:string"/>
												<xs:element name="UnitOfMeasureSymbol" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SystemLogo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>System (industry standard) logos are used to identify a specific technology/standard (e.g. USB, DVD Video).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SystemLogoCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SystemLogoName" type="xs:string"/>
						<xs:element name="SystemLogoRank" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerLogo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Logo of the Partner with whom the CTN is developed or service (e.g. MP3, Internet Radio) is provided</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartnerLogoCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PartnerLogoName" type="xs:string"/>
						<xs:element name="PartnerLogoRank" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FeatureLogo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Logo of a feature; difference between image and logo is the size of the picture</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FeatureCode" type="FeatureCodeType"/>
						<xs:element name="FeatureReferenceName" type="ReferenceNameType" minOccurs="0"/>
						<xs:element name="FeatureLogoRank" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FeatureImage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Image of a feature</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FeatureCode" type="FeatureCodeType"/>
						<xs:element name="FeatureReferenceName" type="ReferenceNameType" minOccurs="0"/>
						<xs:element name="FeatureImageRank" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FeatureHighlight" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A feature that is FeatureHighlight must be in the set of KBA-Feature.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FeatureCode" type="FeatureCodeType"/>
						<xs:element name="FeatureReferenceName" type="ReferenceNameType" minOccurs="0"/>
						<xs:element name="FeatureHighlightRank"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Disclaimers">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Disclaimer">
							<xs:annotation>
								<xs:documentation>Disclaimers are referenced from features, WOW, SubWow, CSItem and other elements by means of a * in the text. There is no linking on datamodel level</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DisclaimerText"/>
									<xs:element name="DisclaimerGroup" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Group this disclaimer belongs to.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="Code" type="xs:string" use="optional"/>
											<xs:attribute name="ReferenceName" type="ReferenceNameType" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="DisclaimElements">
										<xs:complexType>
											<xs:sequence minOccurs="0" maxOccurs="unbounded">
												<xs:element name="DisclaimElementXPath" type="xs:string">
													<xs:annotation>
														<xs:documentation>XPath to element this disclaimer refers to.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Code" type="xs:string" use="required"/>
								<xs:attribute name="Rank" use="optional"/>
								<xs:attribute name="ReferenceName" type="ReferenceNameType" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccessoryByPacked" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A separate product included in the packaging of the CTN, providing additional user benefits and product functionality</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccessoryByPackedCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AccessoryByPackedReference" type="ReferenceNameType" minOccurs="0"/>
						<xs:element name="AccessoryByPackedName" type="xs:string"/>
						<xs:element name="AccessoryByPackedRank"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Award" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional award for a CTN.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AwardCode">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AwardName" type="xs:string" minOccurs="0"/>
						<xs:element name="AwardDate" type="xs:string" minOccurs="0"/>
						<xs:element name="AwardPlace" minOccurs="0"/>
						<xs:element name="AwardDescription"/>
						<xs:element name="AwardAcknowledgement" minOccurs="0"/>
						<xs:element name="AwardText" type="xs:string" minOccurs="0"/>
						<xs:element name="AwardRank" type="xs:integer"/>
					</xs:sequence>
					<xs:attribute name="AwardType" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="local"/>
								<xs:enumeration value="global"/>
								<xs:enumeration value="global_highlight"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Related products and related accessories.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CTN" type="CTNType"/>
						<xs:element name="ProductReferenceRank" type="xs:integer"/>
					</xs:sequence>
					<xs:attribute name="ProductReferenceType" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Accessory"/>
								<xs:enumeration value="Performer"/>
								<xs:enumeration value="Variation"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnergyClass" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnergyClassCode" type="xs:string"/>
						<xs:element name="ShortDescription">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="LongDescription">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IsMaster" type="xs:boolean" use="required"/>
		<xs:attribute name="IsAccessory" type="xs:boolean" use="required"/>
		<xs:attribute name="lastModified" type="xs:dateTime" use="optional"/>
		<xs:attribute name="masterLastModified" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Last modification timestamp in source application</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Country" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Locale" use="optional">
			<xs:annotation>
				<xs:documentation>Locale (2-char or 5-char). For example en or en_US</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="5"/>
					<xs:minLength value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VersionElementType">
		<xs:sequence>
			<xs:element name="VersionElementCode"/>
			<xs:element name="VersionElementName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BrandType">
		<xs:sequence>
			<xs:element name="BrandCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReferenceNameType">
		<xs:annotation>
			<xs:documentation>Unique identification of object for human reference in internal systems. NOT TO BE DISPLAYED TO CONSUMERS. ReferenceName can be changed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FeatureCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CTNType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="DocumentDataType">
		<xs:attribute name="DocTimeStamp" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>DateTime the document is created</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DocStatus" use="optional">
			<xs:annotation>
				<xs:documentation>Draft inputs can only be used to create draft outputs.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="approved"/>
					<xs:enumeration value="draft"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="XSDVersion" type="xs:string" use="required"/>
		<xs:attribute name="ProducingSystem" use="optional">
			<xs:annotation>
				<xs:documentation>F.i. PiSCES, PFS, PikaChu, ProCoon</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
