schemas/old/xUCDM_product_external_sefaira_B2B_1_0_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Bart van Hest (Philips) -->
<!-- lastmodified 2012-12-12 -->
<!-- version 1.0.0: - simplified version of xUCDM_product_external_B2B,  based on xUCDM_product_external_atg_B2B_2_2 -->
<!-- version 1.0.1: - removed catalog-element, remodelled FilterKeys element -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:element name="Products">
		<xs:annotation>
			<xs:documentation>XML Unified Catalog Data Model - Product Marketing Schema for Preliminary or Final published marketing content.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Product" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Product that is marketed.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code12NC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>12NC of the product without formatting spaces.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="4"/>
										<xs:maxLength value="12"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CTN" type="CTNType">
								<xs:annotation>
									<xs:documentation>The Commercial Type Number of an actual existing product (prod.id)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DTN" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The display type number. Note: this is just for display purposes, it is not used anywhere else (not in search engines, ...)</xs:documentation>
									<xs:documentation source="xUCDM 1.06">To become Mandatory per 2007-06-01</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="GTIN" minOccurs="0">
								<xs:annotation>
									<xs:documentation>GTIN of the product without formatting spaces. Synonyms: EAN, UPC</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ProductName" minOccurs="0">
								<xs:annotation>
									<xs:documentation>For products without Naming String this is the actual product name, for products with Naming String this is the Short Naming String.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FullProductName" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This is a representation of the full product name for external parties that should not have knowledge of the composition rules of the full naming string</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MarketingStatus">
								<xs:annotation>
									<xs:documentation>Schema is for Prliminary or Final published marketing content.
Registered with SAP should also be removed. Currently (Feb 2008) this schema is also used to get (master) data for products in this status into CMC. That is to be solved first (with a separate master data schema).</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="New"/>
										<xs:enumeration value="Registered with SAP"/>
										<xs:enumeration value="Preliminary Published"/>
										<xs:enumeration value="Final Published"/>
										<xs:enumeration value="Deleted"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MarketingVersion" type="xs:string" minOccurs="0"/>
							<xs:element name="CRDate" type="xs:date" minOccurs="0"/>
							<xs:element name="ModelYears">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="ModelYear">
											<xs:simpleType>
												<xs:restriction base="xs:positiveInteger">
													<xs:minInclusive value="1990"/>
													<xs:totalDigits value="4"/>
													<xs:maxExclusive value="2100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NamingString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The new display name of the product</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MasterBrand" type="BrandType"/>
										<xs:element name="Partner" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Note: Partner has nothing to do with PartnerLogo!</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PartnerBrand">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="BrandType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="PartnerBrandType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
																<xs:enumeration value="JointBranding">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips and Swarovski</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="MakersMark">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips Norelco</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="SignatureBranding">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips Alessi</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="EndorsementBranding"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PartnerProductName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Known issue: In case of multiple partners with a PartnerProductName, the order is implicit by the order of the Partners in the XML.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PartnerProductIdentifier" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BrandString" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Concatenation of brand names. E.g. "Philips", "Philps Norelco", "Philips and Swarovski", "Philips Norelco and Nivea". Note: should become mandatory after initial migration.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandString2" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Second Brandstring to support"Philips [other naming string elements] by Avent".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Concept" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ConceptCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ConceptName" type="xs:string"/>
													<xs:element name="ConceptNameUsed" type="xs:byte" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag (=1) if product is badged with the name of this Concept. Unflagged products are in the selection for this Concept and may share styling but not the badge with other products of the Concept.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Family" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FamilyCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FamilyName" type="xs:string"/>
													<xs:element name="FamilyNameUsed" type="xs:byte" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag (=1) if product is badged with the name of this Family.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Descriptor" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DescriptorCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DescriptorName" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Alphanumeric" type="xs:string" minOccurs="0"/>
										<xs:element name="VersionElement1" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionElement2" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionElement3" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Version element including spaces</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureCode1" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The feature code of the first branded feature</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureCode2" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The feature code of the second branded feature</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This is the string representing the branded features including 'with' and 'and'.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DescriptorBrandedFeatureString" minOccurs="0"/>
										<xs:element name="MasterSEOProductName" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This product name is the basis for the composition of the English SEO name (Search Engine Optimization)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Categorization" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This element is used to add categorization information to a standard product marketing xml, it is mainly used to communicate with external parties.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GroupCode" type="xs:string"/>
										<xs:element name="GroupName" type="xs:string"/>
										<xs:element name="CategoryCode" type="xs:string"/>
										<xs:element name="CategoryName" type="xs:string"/>
										<xs:element name="SubcategoryCode" type="xs:string"/>
										<xs:element name="SubcategoryName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FilterKeys" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This element contains some distiguishing features.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="Key">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="code" use="required">
															<xs:annotation>
																<xs:documentation>Key identification</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="ProductType"/>
																	<xs:enumeration value="LampType"/>
																	<xs:enumeration value="RatedAverageLife"/>
																	<xs:enumeration value="LifeTime"/>
																	<xs:enumeration value="Lumens"/>
																	<xs:enumeration value="Wattage"/>
																	<xs:enumeration value="Application"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Assets">
								<xs:annotation>
									<xs:documentation>This block can be used to add asset referrals to a standard product marketing XML. The metadata is limited to the bare necessities. The most logical addition would be a version and a date. If more is needed, please think about the alternatives, add the meta data in the referred document or create a seperate document based on the asset list. The code can be used to store the product/feature/etc code. It is preferred to replace a / or '-' by a '_'. The type can be used to store the CCR doctype. The locale can be used to store a language or a locale, if the document is not localized. it should be set to 'global'. A  number can be used to store one or more from the same doctype. The extension can be used to store the file extension</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="Asset">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:anyURI">
														<xs:attribute name="code" use="required">
															<xs:annotation>
																<xs:documentation>Object key</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="type" use="required">
															<xs:annotation>
																<xs:documentation>DocType in CCR</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="locale" use="required"/>
														<xs:attribute name="number"/>
														<xs:attribute name="description" type="xs:string" use="required">
															<xs:annotation>
																<xs:documentation>Functional description of asset.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="extension" use="optional">
															<xs:annotation>
																<xs:documentation>File extension of asset. Example: 'pdf'</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="lastModified" type="xs:date" use="required"/>
														<xs:attribute name="extent" type="xs:string">
															<xs:annotation>
																<xs:documentation>Size in bytes</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="caption" type="xs:string">
															<xs:annotation>
																<xs:documentation>Object specific caption for this asset</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="IsMaster" type="xs:boolean" use="required"/>
						<xs:attribute name="IsAccessory" type="xs:boolean" use="required"/>
						<xs:attribute name="lastModified" type="xs:dateTime" use="optional"/>
						<xs:attribute name="masterLastModified" type="xs:dateTime" use="optional">
							<xs:annotation>
								<xs:documentation>Last modification timestamp in source application</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Country" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="([A-Z]{2})|global|GLOBAL"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Locale" use="required">
							<xs:annotation>
								<xs:documentation>Locale (2-char or 5-char). For example en or en_US</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="([a-z]{2}_[A-Z]{2})|master_global|master_GLOBAL"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="IsLocalized" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation>Flag that indicates local source content that deviates from master source content</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
					<xs:key name="FeatureCodeKey">
						<xs:selector xpath="KeyBenefitAreas/KeyBenefitArea/Features/Feature"/>
						<xs:field xpath="FeatureCode"/>
					</xs:key>
					<xs:keyref name="FilterFeatureCodeKeyRef" refer="FeatureCodeKey">
						<xs:selector xpath="Filters/Purpose/Features/Feature"/>
						<xs:field xpath="@code"/>
					</xs:keyref>
					<xs:keyref name="GroupFeatureCodeKeyRef" refer="FeatureCodeKey">
						<xs:selector xpath="FeatureCompareGroups/FeatureCompareGroup/Features/Feature"/>
						<xs:field xpath="@code"/>
					</xs:keyref>
					<xs:key name="CSItemCodeKey">
						<xs:selector xpath="CSChapters/CSChapter/CSItems/CSItem"/>
						<xs:field xpath="CSItemCode"/>
					</xs:key>
					<xs:keyref name="CSItemCodeKeyRef" refer="CSItemCodeKey">
						<xs:selector xpath="Filters/Purpose/CSItems/CSItem"/>
						<xs:field xpath="@code"/>
					</xs:keyref>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="DocTimeStamp" type="xs:dateTime" use="required"/>
			<xs:attribute name="DocStatus" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="draft"/>
						<xs:enumeration value="approved"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DocType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PMT"/>
						<xs:enumeration value="PCT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DocVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>The filename of the XSD schma, e.g. xUCDM_product_external_1_2.xsd</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CTNType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BrandType">
		<xs:sequence>
			<xs:element name="BrandCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReferenceNameType">
		<xs:annotation>
			<xs:documentation>Unique identification of object for human reference in internal systems. NOT TO BE DISPLAYED TO CONSUMERS. ReferenceName can be changed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="VersionElementType">
		<xs:sequence>
			<xs:element name="VersionElementCode"/>
			<xs:element name="VersionElementName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FeatureCodeType">
		<xs:annotation>
			<xs:documentation>Unique identification of the feature for system reference. Cannot be changed over the lifecycle of the feature.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="codeType"/>
	</xs:simpleType>
	<xs:simpleType name="codeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriceType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+(\.[0-9]{1,2})?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductReferenceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accessory"/>
			<xs:enumeration value="Performer"/>
			<xs:enumeration value="Variation"/>
			<xs:enumeration value="CrossSell"/>
			<xs:enumeration value="Chassis"/>
			<xs:enumeration value="ChassisOf"/>
			<xs:enumeration value="RefurbishedOf"/>
			<xs:enumeration value="Contains"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextWithMarkupType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SUB" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SUP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
