schemas_CCR/CCRexport/CCR_LCB_full.xsd

<!--
   | XML schema for the Local catalog Builder (LCB) Catalog msg.
   |
   | The Catalog msg is exported by CCR/LCB and delivered to Pikachu, where it is further processed.
   | Three message types are exported from CCR that comply with this schema:
   |   1. lcb_full_0200_<datetimestamp>.xml
   |   2. lcb_full_care_0200_<datetimestamp>.xml
   |   3. lcb_full_marketing_0200_<datetimestamp>.xml
   | 
   | Reverse engineered from the XML-message in Pikachu.
   | BHE, 2019-01-24
   |
   -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="catalogs" type="catalogsType"/>

  <xs:complexType name="catalogsType">
    <xs:sequence>
      <xs:element type="catalogType" name="catalog"/>
    </xs:sequence>
    <xs:attribute type="xs:dateTime" name="timestamp"/>
    <xs:attribute type="xs:float" name="version"/>
  </xs:complexType>

  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="CatalogProductType" name="CatalogProduct" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="catalogTypeName"/>
    <xs:attribute type="xs:string" name="countryCode"/>
    <xs:attribute type="xs:short" name="productDivisionCode"/>
    <xs:attribute type="xs:string" name="currencyCode"/>
  </xs:complexType>

  <xs:complexType name="CatalogProductType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="CTN" use="optional"/>
        <xs:attribute type="xs:date" name="start-of-publication" use="optional"/>
        <xs:attribute type="xs:date" name="start-of-marketing-publication" use="optional"/>
        <xs:attribute type="xs:date" name="end-of-publication" use="optional"/>
        <xs:attribute type="xs:date" name="end-of-sales" use="optional"/>
        <xs:attribute type="xs:string" name="buy-on-line" use="optional"/>
        <xs:attribute type="xs:string" name="list-price-to-dealers" use="optional"/>
        <xs:attribute type="xs:string" name="local-going-price" use="optional"/>
        <xs:attribute type="xs:string" name="online-price" use="optional"/>
        <xs:attribute type="xs:string" name="action" use="optional"/>
        <xs:attribute type="xs:date" name="delete-after-date" use="optional"/>
        <xs:attribute type="xs:string" name="gtin" use="optional"/>
        <xs:attribute type="xs:string" name="priority" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>