schemas_CCR/CCRexport/CCR_P4C_xSPOT_Marketing_Asset.xsd

<!--
   | XML schema for the AssetList msg.
   |
   | The AssetList msg is exported by SPOT and delivered to Pikachu, where it is further processed.
   | SPOT receives the asset data from CCR (full-feed, meaning all products and all product-related-assets) 
   | and filters-out the products that don't thave changed assets. Pikachu receives a delta-feed, but the 
   | assets are complete per product.
   |
   | Based on the InternalResourceIdentifier, Pikachu retrieves the assets from CCR and send the assets to Scene7.
   | The asset-metadata is included in the product marketing- and product care-messages and send to the AEM website 
   | and to syndication partners.
   | 
   | Reverse engineered from the XML-message in Pikachu.
   | BHE, 2019-01-24
   |
   -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ProductsMsg" type="ProductsMsgType"/>

  <xs:complexType name="ProductsMsgType">
    <xs:sequence>
      <xs:element type="ProductType" name="Product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="version"/>
    <xs:attribute type="xs:dateTime" name="docTimestamp"/>
  </xs:complexType>

  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element type="xs:int" name="CTN"/>
      <xs:element type="AssetType" name="Asset"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssetType">
    <xs:sequence>
      <xs:element type="xs:string" name="ResourceType"/>
      <xs:element type="xs:string" name="Language"/>
      <xs:element type="xs:string" name="License"/>
      <xs:element type="xs:string" name="AccessRights"/>
      <xs:element type="xs:date" name="Modified"/>
      <xs:element type="xs:string" name="Publisher"/>
      <xs:element type="xs:string" name="PublicResourceIdentifier"/>
      <xs:element type="xs:string" name="InternalResourceIdentifier"/>
      <xs:element type="xs:string" name="SecureResourceIdentifier"/>
      <xs:element type="xs:string" name="Creator"/>
      <xs:element type="xs:string" name="Format"/>
      <xs:element type="xs:int" name="Extent"/>
      <xs:element type="xs:string" name="Md5"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>