schemas/xUCDM_treenode_external_CQ5_1_2_18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	1.2.8  2011-08-01 FS  
          - Added Discriminators as Filter Purpose type
          - Deprecated SellingUpFeature and ConsumerSegment
          - Removed ProductReference and ProductReferences.
          - Added new form for ProductRefs/ProductReference
	1.2.9  2012-01-02 FS  Node/@code now has max length of 40 instead of 30
	1.2.10 2013-01-07 FS  Change node type 'perfectMatch' to 'perfectmatch'
	1.2.11 2014-03-17 FS  Merged LI schema:
          - AwardDescription properly typed
          - Added ProductAttributes element to ProductReference.
          - Added group and groupRank attributes to ProductReference.
          - Changed RichText type list to contain only LI types. (Previous list from CL was not used.)
          - Added Subtitle element to RichText item.
          - Removed routingCode attribute from the root element.
          - Added FilterGroups element
          - Added clusterGroupName attribute
  1.2.12 2014-08-26 FS  Added filter keys to product references
  1.2.13 2014-08-26 FS  Filter keys in product references refer to the filterKeyType type.
  1.2.14 2014-12-10 FS  Added lowercase letters to clusterCodeType and FilterGroup/@code.
  1.2.15 2016-02-19 FS  Allow only one BulletList in a RichText/Item.
         2016-05-28 BvH  added checksum attribute to asset.
  1.2.16 2016-06-01 BvH  added namingstring including Brand-information (having a similar structure as in the PMT msg).
  1.2.17 2016-07-15 FS   Added ProductClusters to support successors
  1.2.18 2016-09-01 FS   Added ProductReferenceType 'configurable'
  1.2.19 2016-09-14 FS   Added Catalogs element
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="1.2.19">
  <xs:element name="Nodes">
    <xs:annotation>
      <xs:documentation>XML Unified Catalog Data Model - Node Marketing Schema for Preliminary or Final published
        marketing content.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Node" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Node that is marketed.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MarketingVersion" type="xs:string" minOccurs="0" />
              <xs:element name="MarketingStatus">
                <xs:annotation>
                  <xs:documentation>Marketing status of the Node.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="New" />
                    <xs:enumeration value="Preliminary Published" />
                    <xs:enumeration value="Final Published" />
                    <xs:enumeration value="Deleted" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="LifecycleStatus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Status of the node as content (shown to customers)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Planned" />
                    <xs:enumeration value="Active" />
                    <xs:enumeration value="PhasedOut" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Owner" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>The organisational owner of the node, actually displayed on the leaflet
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Catalogs">
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="Catalog" type="catalogType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>              
              <xs:element name="Assets">
                <xs:annotation>
                  <xs:documentation>This block can be used to add asset referrals to a standard product marketing XML.
                    The metadata is limited to the bare necessities. The most logical addition would be a version and a
                    date. If more is needed, please think about the alternatives, add the meta data in the referred
                    document or create a seperate document based on the asset list. The code can be used to store the
                    product/feature/etc code. It is preferred to replace a / or '-' by a '_'. The type can be used to
                    store the CCR doctype. The locale can be used to store a language or a locale, if the document is
                    not localized. it should be set to 'global'. A number can be used to store one or more from the same
                    doctype. The extension can be used to store the file extension</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Asset">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:anyURI">
                            <xs:attribute name="code" use="required" />
                            <xs:attribute name="type" use="required" />
                            <xs:attribute name="locale" use="required" />
                            <xs:attribute name="number" />
                            <xs:attribute name="description" type="xs:string" use="required" />
                            <xs:attribute name="extension" use="optional" />
                            <xs:attribute name="lastModified" type="xs:date" use="required" />
                            <xs:attribute name="extent" type="xs:string" />
                            <xs:attribute name="checksum" type="xs:integer"/>
                            <xs:attribute name="caption" type="xs:string" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Name" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Name that can be used for display to customers/consumers</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
							<xs:element name="NamingString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The new display name of the product</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MasterBrand" type="BrandType"/>
										<xs:element name="Partner" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Note: Partner has nothing to do with PartnerLogo!</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PartnerBrand">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="BrandType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="PartnerBrandType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
																<xs:enumeration value="JointBranding">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips and Swarovski
                                    </xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="MakersMark">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips Norelco</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="SignatureBranding">
																	<xs:annotation>
																		<xs:documentation source="Philips Design 2007-04">E.g. Philips Alessi</xs:documentation>
																	</xs:annotation>
																</xs:enumeration>
																<xs:enumeration value="EndorsementBranding"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PartnerProductName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Known issue: In case of multiple partners with a PartnerProductName, the
                                order is implicit by the order of the Partners in the XML.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PartnerProductIdentifier" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="BrandString" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Concatenation of brand names. E.g. "Philips", "Philps Norelco", "Philips and
                          Swarovski", "Philips Norelco and Nivea". Note: should become mandatory after initial
                          migration.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandString2" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Second Brandstring to support"Philips [other naming string elements] by
                          Avent".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Concept" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ConceptCode" type="identifierType"/>
													<xs:element name="ConceptName" type="xs:string"/>
													<xs:element name="ConceptNameUsed" type="xs:byte" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag (=1) if product is badged with the name of this Concept. Unflagged
                                products are in the selection for this Concept and may share styling but not the badge
                                with other products of the Concept.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Family" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FamilyCode" type="identifierType"/>
													<xs:element name="FamilyName" type="xs:string"/>
													<xs:element name="FamilyNameUsed" type="xs:byte" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag (=1) if product is badged with the name of this Family.
                              </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Range" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RangeCode">
														<xs:simpleType>
															<xs:restriction base="identifierType">
																<xs:maxLength value="10"/>
																<xs:minLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RangeName" type="xs:string"/>
													<xs:element name="RangeNameUsed" type="xs:byte" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Flag (=1) if product is badged with the name of this Range
                              </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Descriptor" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DescriptorCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DescriptorName" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Alphanumeric" type="xs:string" minOccurs="0"/>
										<xs:element name="VersionElement1" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionElement2" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionElement3" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionElement4" type="VersionElementType" minOccurs="0"/>
										<xs:element name="VersionString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Version element including spaces</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureCode1" type="FeatureCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The feature code of the first branded feature</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureCode2" type="FeatureCodeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The feature code of the second branded feature</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BrandedFeatureString" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This is the string representing the branded features including 'with' and
                          'and'.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DescriptorBrandedFeatureString" minOccurs="0"/>
										<xs:element name="MasterSEOProductName" minOccurs="0">
											<xs:annotation>
												<xs:documentation>This product name is the basis for the composition of the English SEO name
                          (Search Engine Optimization)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
              <xs:element name="WOW" type="xs:string" minOccurs="0" />
              <xs:element name="SubWOW" type="xs:string" minOccurs="0" />
              <xs:element name="MarketingTextHeader" type="xs:string" minOccurs="0" />
              <xs:element name="KeyBenefitArea" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The KBA and Features of the Node</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="KeyBenefitAreaCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="KeyBenefitAreaName" type="xs:string" />
                    <xs:element name="KeyBenefitAreaRank" type="xs:integer" />
                    <xs:element name="Feature" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FeatureCode" type="FeatureCodeType" />
                          <xs:element name="FeatureReferenceName" type="ReferenceNameType" />
                          <xs:element name="FeatureName" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Displayname of feature</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="FeatureShortDescription" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureLongDescription" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureGlossary" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureWhy" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureWhat" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureHow" type="xs:string" minOccurs="0" />
                          <xs:element name="FeatureRank" type="xs:integer">
                            <xs:annotation>
                              <xs:documentation>The rank of the feature within the KBA</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="FeatureTopRank">
                            <xs:annotation>
                              <xs:documentation>The rank of the feature within the node</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CSChapter" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The specifications (name - value and optional UoM) of the CTN.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CSChapterCode" type="codeType" />
                    <xs:element name="CSChapterName" type="xs:string" />
                    <xs:element name="CSChapterRank" type="xs:integer" />
                    <xs:element name="CSItem" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CSItemCode" type="codeType" />
                          <xs:element name="CSItemName" type="xs:string" />
                          <xs:element name="CSItemRank" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SystemLogo" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>System (industry standard) logos are used to identify a specific technology/standard
                    (e.g. USB, DVD Video).</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SystemLogoCode">
                      <xs:simpleType>
                        <xs:restriction base="identifierType">
                          <xs:maxLength value="30" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SystemLogoName" type="xs:string" />
                    <xs:element name="SystemLogoRank" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FilterGroups" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="FilterGroup" type="filterGroupType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Filters">
                <xs:annotation>
                  <xs:documentation>Can be used to filter the set of Features and CSItems.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Purpose">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Features">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="Feature">
                                  <xs:complexType>
                                    <xs:attribute name="code" type="FeatureCodeType" use="required" />
                                    <xs:attribute name="referenceName" type="ReferenceNameType">
                                      <xs:annotation>
                                        <xs:documentation>ReferenceName is for human reference only.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="rank" type="xs:integer">
                                      <xs:annotation>
                                        <xs:documentation>The rank of this feature for this purpose. If ommitted, the
                                          FeatureTopRank is to be used as default.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CSItems">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="CSItem">
                                  <xs:complexType>
                                    <xs:attribute name="code" type="codeType" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Add constraints for existing in AllCommSpecs
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="referenceName" type="ReferenceNameType">
                                      <xs:annotation>
                                        <xs:documentation>ReferenceName is for human reference only. Fill with
                                          Chapter.Name - Item.Name</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="rank" type="xs:integer">
                                      <xs:annotation>
                                        <xs:documentation>The rank of this CSItem for this purpose. If ommitted, the
                                          rank in CSChapter/CSItem is to be used as default.
                                          NOTE 2008-02-25: HOW IS THIS TO WORK IN COMBINATION WITH THE GROUPING IN CHAPTERS!??</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="codeType">
                              <xs:enumeration value="Base" />
                              <xs:enumeration value="Differentiating" />
                              <xs:enumeration value="Discriminators" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Award" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Award for the node or assigned products.
                    Also supporting What The Press Says.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AwardCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AwardName" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardDate" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardPlace" minOccurs="0" />
                    <xs:element name="Title" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Magazine that published the award</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Issue" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Issue of magazine where the award was published.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Rating" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Rating given with the award.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Trend" type="xs:integer" minOccurs="0" />
                    <xs:element name="AwardAuthor" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="50" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TestPros" type="xs:string" minOccurs="0" />
                    <xs:element name="TestCons" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardDescription" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardAcknowledgement" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Quote</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="AwardVerdict" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardText" type="xs:string" minOccurs="0" />
                    <xs:element name="Locales" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Locales where this Award is relevant</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="Locale" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AwardRank" type="xs:integer" />
                    <xs:element name="AwardSourceCode" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardVideo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Length" type="xs:decimal" />
                          <xs:element name="Width" type="xs:decimal" />
                          <xs:element name="Height" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AwardCategory" type="xs:string" minOccurs="0" />
                    <xs:element name="AwardSourceLocale" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                  <xs:attribute name="AwardType" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="local" />
                        <xs:enumeration value="global" />
                        <xs:enumeration value="global_highlight" />
                        <xs:enumeration value="ala_summary" />
                        <xs:enumeration value="ala_award" />
                        <xs:enumeration value="ala_expert" />
                        <xs:enumeration value="ala_user" />
                        <xs:enumeration value="ala_video" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="status">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Draft" />
                        <xs:enumeration value="Preliminary Published" />
                        <xs:enumeration value="Final Published" />
                        <xs:enumeration value="Deleted" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="endOfPublication" type="xs:date" />
                  <xs:attribute name="isPaid" type="xs:boolean" />
                  <xs:attribute name="awardAlid" type="xs:string" />
                  <xs:attribute name="globalSource" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductClusters">
                <xs:complexType>
                 <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="ProductCluster">
                   <xs:complexType>
                    <xs:sequence>
                     <xs:element name="Name" type="xs:string">
                      <xs:annotation>
                       <xs:documentation>Localized</xs:documentation>
                      </xs:annotation>
                     </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" use="required">
                     <xs:simpleType>
                      <xs:restriction base="xs:string">
                       <xs:enumeration value="successor"/>
                      </xs:restriction>
                     </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="code" type="clusterCodeType" use="required"/>
                    <xs:attribute name="referenceName" type="ReferenceNameType"/>
                    <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
                   </xs:complexType>
                  </xs:element>
                 </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ProductReferences">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ProductReference">
                      <xs:annotation>
                        <xs:documentation>Related products and related accessories.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CTN" type="CTNType"/>
                          <xs:element name="ProductReferenceRank" type="xs:integer"/>
                          <xs:element name="ProductTitle" type="xs:string" minOccurs="0"/>
                          <xs:element name="ProductURL" type="xs:anyURI" minOccurs="0"/>
                          <xs:element name="ImageURL" type="xs:anyURI" minOccurs="0"/>
                          <xs:element name="CSItem" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CSValue" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CSValueCode">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="30"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="CSValueName" type="xs:string" />
                                      <xs:element name="CSValueDisplayName" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="UnitOfMeasure" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="UnitOfMeasureCode">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="30"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="UnitOfMeasureName">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="30" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="UnitOfMeasureSymbol">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:maxLength value="10" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="code" type="identifierType" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductAttributes" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence maxOccurs="unbounded">
                                <xs:element name="Attribute">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="refName" type="xs:string" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FilterKeys">
                            <xs:complexType>
                              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="FilterKey" type="filterKeyType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ProductReferenceType" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="accessory"/>
                              <xs:enumeration value="assigned"/>
                              <xs:enumeration value="configurable"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="group" type="xs:string"/>
                        <xs:attribute name="groupRank" type="xs:nonNegativeInteger"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="RichTexts">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="RichText">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="Chapter" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" />
                              </xs:sequence>
                              <xs:attribute name="code" type="codeType" use="required" />
                              <xs:attribute name="referenceName" type="ReferenceNameType" use="required" />
                              <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Item" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Asset is to be retrieved from CCR using the Asset@code.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Head" type="xs:string" minOccurs="0" />
                                <xs:element name="Subtitle" type="xs:string" minOccurs="0"/>
                                <xs:element name="Body" type="xs:string" minOccurs="0" />
                                <xs:element name="BulletList" minOccurs="0" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                      <xs:element name="BulletItem">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Text" type="xs:string" />
                                            <xs:element name="SubList" minOccurs="0" maxOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                  <xs:element name="SubItem">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Text" type="xs:string" />
                                                      </xs:sequence>
                                                      <xs:attribute name="rank" type="xs:nonNegativeInteger"
                                                        use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="code" type="codeType">
                                <xs:annotation>
                                  <xs:documentation>Asset for this item is to be retrieved from CCR using the
                                    RTB@code@docType</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="referenceName" type="ReferenceNameType">
                                <xs:annotation>
                                  <xs:documentation>Name to be displayed in CCR</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="rank" type="xs:nonNegativeInteger" use="required" />
                              <xs:attribute name="docType" type="xs:string">
                                <xs:annotation>
                                  <xs:documentation>The docType to which this AssetCaption belongs. Note: only possible
                                    for node keyed images. Support for additional objects requires ObjType and ObjKey.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="TextTable|FeatureText|ApplicationText|WarningText|BackgroundInfo|GreenText|SystemText|AssetCaption"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="IsMaster" type="xs:boolean" use="required" />
            <xs:attribute name="lastModified" type="xs:dateTime" use="optional" />
            <xs:attribute name="masterLastModified" type="xs:dateTime" use="optional">
              <xs:annotation>
                <xs:documentation>Last modification timestamp in source application</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Country" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Locale" use="optional">
              <xs:annotation>
                <xs:documentation>Locale (2-char or 5-char). For example en or en_US</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="5" />
                  <xs:minLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="isLocalized" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>Flag that indicates local source content that deviates from master source content
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="code" type="clusterCodeType" use="required" />
            <xs:attribute name="referenceName" type="ReferenceNameType" />
            <xs:attribute name="nodeType" type="NodeTypeType" />
            <xs:attribute name="displayProductImage">
              <xs:annotation>
                <xs:documentation>Indicates whether the product image should be displayed on a variation detail.
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:minInclusive value="0" />
                  <xs:maxExclusive value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="clusterGroupName" type="xs:string"/>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="DocTimeStamp" type="xs:dateTime" use="required" />
      <xs:attribute name="DocStatus" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="draft" />
            <xs:enumeration value="approved" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DocType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="RMT" />
            <xs:enumeration value="FMT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DocVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation>The filename of the XSD schma, e.g. xUCDM_treenode_external_1_2.xsd</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CTNType">
    <xs:restriction base="identifierType">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="identifierType">
    <xs:restriction base="codeType">
      <xs:pattern value="[0-9A-Z_\-/]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReferenceNameType">
    <xs:annotation>
      <xs:documentation>Unique identification of object for human reference in internal systems. NOT TO BE DISPLAYED TO
        CONSUMERS. ReferenceName can be changed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FeatureCodeType">
    <xs:annotation>
      <xs:documentation>Unique identification of the feature for system reference. Cannot be changed over the lifecycle
        of the feature.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="codeType" />
  </xs:simpleType>
  <xs:simpleType name="clusterCodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
      <xs:pattern value="[0-9A-Za-z_\-/]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NodeTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="range" />
      <xs:enumeration value="variation" />
      <xs:enumeration value="perfectmatch" />
      <xs:enumeration value="family" />
      <xs:enumeration value="concept" />
    </xs:restriction>
  </xs:simpleType>
 <xs:simpleType name="identifierType">
  <xs:restriction base="codeType">
   <xs:pattern value="[0-9A-Za-z_\-/]+"/>
  </xs:restriction>
 </xs:simpleType>
  <xs:simpleType name="uppercaseString">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
      <xs:pattern value="[0-9A-Z_\-]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="filterGroupType">
    <xs:sequence>
      <xs:element name="FilterKeys">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="FilterKey" type="filterKeyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="code" type="identifierType" />
  </xs:complexType>
  <xs:complexType name="filterKeyType">
    <xs:attribute name="code" type="xs:string" use="required" />
    <xs:attribute name="value" type="xs:string" use="optional" />
    <xs:attribute name="displayValue" type="xs:string" use="optional" />
  </xs:complexType>
	<xs:complexType name="BrandType">
		<xs:sequence>
			<xs:element name="BrandCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VersionElementType">
		<xs:sequence>
			<xs:element name="VersionElementCode"/>
			<xs:element name="VersionElementName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="catalogType">
    <xs:attribute name="code" type="uppercaseString" use="required" />
    <xs:attribute name="sop" type="xs:date" use="required" />
    <xs:attribute name="eop" type="xs:date" use="required" />
  </xs:complexType>  
</xs:schema>
